<div class="container-fluid">
	<%= image_tag("bike_gear.jpg", class: "img-responsive landing-page-image") %>
 	<h1 class="main-text">Bikes Galore......Your source for all your cycling needs!</h1>
</div>




