<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your purchase. We have received your payment and will send your goods to you shortly.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<%= link_to 'Back', products_path %>